/*Barra de navegação vertical*/

/*
ul{
    
     Tira o estilo da lista 
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li{
    padding: 10px 20px;
     background: url(./imgs/seta.png) no-repeat left center;

}
*/

