#principal{


width: 900px;
}


#menu{

    background: #c5c5b2;
    padding: 15px;
}

a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

body{
    background: #d2d2c1 url('./imgs/fundo.png');
    font: 16px Arial, Helvetica, sans-serif;
    

}

#conteudo{
    background: #e8e8d9;
    padding: 10px;
}

.centralizar{
    text-align: center;
}

h1{
    color: #828271;
    font-size: 1.2em;
}


.imagens-campanha{


    border: 10px #c3c3ae solid

}
